
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
}

.wrapper{
    overflow: hidden;
    min-height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

[class*="__container"]{
	max-width: 1340px;
	margin: 0 auto;
}

.page{
    flex: 1 0 auto;
    background: rgba(153, 151, 167, 0.714);
    display: grid;
    grid-template-columns: 1fr 400px;
}

.header {
    position: fixed;
    z-index: 30;
    top: 0;
    left: 0;
    width: 100%;
    background: rgb(19, 18, 21);
    color: #fff;
    padding: 10px 0;
}
.header__container { 
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 40px;
}

.header__logo {
    flex: 0 0 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    align-self: center;
}
.header__logo img{
    width: 100%;
}
.header__heading {
    font-weight: 700;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 0.6px;
}


/*-----COLLECTION------*/

.page__collection{

}

.collection {
    padding: 200px 90px 100px;
}

.collection__container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.card-book {
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-height: 100%;
    background-color: rgb(223, 226, 238);
    border: 2px solid rgb(71, 70, 77);
    border-radius: 10px;
    padding: 25px 30px;
    box-shadow: 0 0 10px #5a5a5a;
    transition: all 0.3s ease-in-out;
}

.card-book__title{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

.card-book__info{
    flex: 1 1 auto;
    margin-bottom: 10px;
}
.card-book__info > :not(:last-child){
    margin-bottom: 10px;
}
.card-book__delete-btn{
    background-color: #2b2d42;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    letter-spacing: 0.5px;
}

.card-book__delete-btn:hover{
    background-color: #171823;
    transition: all 0.5s ease-in-out;
}




/*-----------FORM------------*/

.page__form-book{
    background-color: #8a8c9a;
    position: fixed;
    height: 100%;
    right: 0;
    top: 0;
}

.book-form{
    padding: 200px 40px 100px;
}

.book-form__heading{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px;
    letter-spacing: 0.6px;
}

.book-form__line:not(:last-child) {
    margin-bottom: 25px;
}

.book-form__label {
    margin-bottom: 8px;
    display: inline-block;
    min-width: 60px;
    font-weight: 600;
}

.book-form__input {
    height: 25px;
    padding: 10px 10px;
    border: 1px solid #D7DADD;
    border-radius: 4px; 

}

.book-form__input::placeholder{
    color: #9A9CA5;
}

.book-form__input:focus{
    outline: 1px solid rgb(10, 10, 10);
}

.book-form__button {
    background-color: #2b2d42;
    color: #fff;
    border-radius: 5px;
    width: 100%;
    line-height: 1.25;
    padding: 15px 40px;
    text-align: center;
    letter-spacing: 0.5px;
}

.book-form__button:hover{
    background-color: #171823;
    transition: all 0.5s ease-in-out;
}
